/*
**  Custom colors for accents and grays.
**  To generate this file use the sliders here: https://starlight.astro.build/guides/css-and-tailwind/#color-theme-editor
*/

/* Dark mode colors. */
:root {
  --sl-color-text-accent-inverted: #1d211f;
  --sl-color-accent-hover: #b0525d;
  --sl-color-accent-low: #37172c;
  --sl-color-accent: #f9e9e9;
  --sl-color-accent-high: #a5a1a3;
  --sl-color-banner-bg: #a36969;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eceef2;
  --sl-color-gray-2: #c0c2c7;
  --sl-color-gray-3: #888b96;
  --sl-color-gray-4: #545861;
  --sl-color-gray-5: #353841;
  --sl-color-gray-6: #24272f;
  --sl-color-black: #17181c;
  --sl-color-card: #cf8989;
  --sl-color-card-border: #cb7b7b;
  --sl-text-secondary: #000000;
  --sl-background-secondary: #e9c8c8;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-text-accent-inverted: #ffffff;
  --sl-color-text-accent: var(--sl-color-accent-high);
  --sl-color-accent-hover: #d6d6d6;
  --sl-color-accent-low: #f5ecf1;
  --sl-color-accent: #810a10;
  --sl-color-accent-high: #490e37;
  --sl-color-banner-bg: #810a10;
  --sl-color-white: #17181c;
  --sl-color-gray-1: #24272f;
  --sl-color-gray-2: #353841;
  --sl-color-gray-3: #545861;
  --sl-color-gray-4: #888b96;
  --sl-color-gray-5: #c0c2c7;
  --sl-color-gray-6: #eceef2;
  --sl-color-gray-7: #f5f6f8;
  --sl-color-black: #ffffff;
  --sl-color-card: #692828;
  --sl-color-card-border: #cb7b7b;
  --sl-text-secondary: #ffffff;
  --sl-background-secondary: #b15757;
}
