.bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
}

.social-icons > a {
  color: var(--sl-color-accent);
}

/* call to action buttons should center their elements (see landing page) */
.action.secondary {
  justify-content: center;
  color: var(--sl-color-accent);
}

.action.primary {
  background-color: var(--sl-color-accent);
}
