:root {
  --sl-font: 'Inter';
  --breakpoint-mobile: 50rem;
}

@media (max-width: 50em) {
  .hide-mobile {
    display: none;
  }
}

:root[data-theme="light"] .hide-light {
  display: none;
}

:root[data-theme="dark"] .hide-dark {
  display: none;
}


.social-icons > a {
  color: var(--sl-color-accent);
}

/* call to action buttons should center their elements (see landing page) */
.action:is(a){
  display: flex;
  justify-content: center;
}

.action.secondary:is(a) {
  color: var(--sl-color-accent);
}

.action.primary:is(a){
  background-color: var(--sl-color-accent);
}

div.tablist-wrapper {
  overflow-x: clip;
}

.sl-markdown-content a:hover {
  color: var(--sl-color-accent-hover);
}

div.feedback.show {
  background-color: var(--sl-color-accent-hover) !important;
}

div.sl-container {
  max-width: 100vh;
  margin-inline-start: 0;
}

span.sl-badge {
  vertical-align: middle;
  white-space: nowrap;
}