@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --sl-font: 'Poppins', 'ui-sans-serif', 'Ubuntu';
  --breakpoint-mobile: 50rem;
}

@media (max-width: 50em) {
  .hide-mobile {
    display: none;
  }
}

:root[data-theme="light"] .hide-light {
  display: none;
}

:root[data-theme="dark"] .hide-dark {
  display: none;
}


.social-icons > a {
  color: var(--sl-color-accent);
}

/* call to action buttons should center their elements (see landing page) */
.action:is(a){
  display: flex;
  justify-content: center;
}

.action.secondary:is(a) {
  color: var(--sl-color-accent);
}

.action.primary:is(a){
  background-color: var(--sl-color-accent);
}

div.tablist-wrapper {
  overflow-x: clip;
}

.sl-markdown-content a:hover {
  color: var(--sl-color-accent-hover);
}

div.feedback.show {
  background-color: var(--sl-color-accent-hover) !important;
}

div.sl-container {
  max-width: 100vh;
  margin-inline-start: 0;
}

span.sl-badge {
  vertical-align: middle;
  white-space: nowrap;
}

.header select {
  width: 200px;
}
