---
import type { MarkdownInstance } from "astro";
import InfoCard from "./InfoCard.astro";
type Props = {
  title?: string;
  cards: Array<MarkdownInstance<any>>;
};
const { title, cards } = Astro.props;
---

<div class="gallery-container">
  {title && <h2 class="title">{title}</h2>}
  <div class="cards">
    {cards.map((card) => <InfoCard text={card} />)}
  </div>
</div>

<style>

  .gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    margin-bottom: 2.5rem;
    margin: 1rem 0 !important;
    text-align: center;
  }
  
  .cards {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 0 3rem;
    /* justify-content: center; */
    gap: 2rem;
  }

  @media (max-width: 50em){
    .cards {
      display: flex;
      flex-direction: column;
      padding: 0;
      gap: 0.5rem;
    }

    h2.title {
      margin-bottom: 0;
    }
  }
</style>
