---
import type { MarkdownInstance } from "astro";
import InfoCard from "./InfoCard.astro";
type Props = {
  title?: string;
  cards: Array<MarkdownInstance<any>>;
};
const { title, cards } = Astro.props;
---

<div class="gallery-container">
  {title && <h2 class="title">{title}</h2>}
  <div class="cards">
    {cards.map((card) => <InfoCard text={card} />)}
  </div>
</div>

<style>

  .gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    margin-bottom: 1rem;
    text-align: center;
  }
  .cards {
    display: flex;
    padding: 0 3rem;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  @media (max-width: 50em){
    .cards {
      flex-direction: column;
      width: 100%;
      padding: 0;
      gap: 0.5rem;
    }

    h2.title {
      margin-bottom: 0;
    }
  }
</style>
