---
import claseImage from "../../../../assets/clase.jpeg";
import { Image } from "astro:assets";

// Get current locale
const currentLocale = Astro.currentLocale || 'es';
const isEnglish = currentLocale === 'en';

// Load translations
const translations = isEnglish 
  ? await import('../../../i18n/en.json')
  : await import('../../../i18n/es.json');

const t = translations.default;
---

<div id="pedag-container">
  <Image class="class-img" src={claseImage} alt={isEnglish ? "Wollok in the classroom" : "Wollok en la clase"}/>
  <div class="description">
    <h2 class="title">{t["landing.pedagogical.title"]}</h2>
    <div class="bullet-points">
      <p>{t["landing.pedagogical.p1"]}</p>
      <p>{t["landing.pedagogical.p2"]}</p>
    </div>
  </div>
</div>

<style>
  .title {
    margin: 1rem 0 !important;
  }
  
  .class-img {
    opacity: 0.4;
    width: 100%;
  }

  #pedag-container {
    position: relative;
    margin-top: 0;
  }

  .description {
    z-index: 1;
    text-align: end;
    position: absolute;
    top: 1rem;
    left: 30%;
    right: 5%;
    bottom: 5%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .description > .bullet-points {
    font-weight: 500;
  }

  .description > .bullet-points > p {
    margin-left: 0;
    margin-bottom: 1rem;
    font-size: 1.2em;
    font-weight: 400;
    justify-content: flex-end;
  }

  .description > .title {
    padding-left: 40%;
    font-size: 2.5em;
  }

  @media(max-width: 50em) {
    #pedag-container {
      margin-top: 0;
    }

    img {
      width: auto !important;
      height: 12em !important;
      opacity: 1 !important;
    }

    .description {
      position: initial;
      top: 1rem;
      right: 5%;
      bottom: 5%;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    .description > .title {
      font-size: 2em;
      padding: 0 1rem 0 1rem;
      text-align: start;
    }

    .description > .bullet-points > p {
      display: flex;
      flex-direction: row;
      align-items: start;
      text-align: start;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
</style>
