---
import claseImage from "../../../../assets/claseCropped.jpeg";
import { Image } from "astro:assets";
---

<div id="pedag-container">
  <Image class="class-img" src={claseImage} alt="Wollok en la clase"/>
  <div class="description">
    <h2 class="title">Una herramienta con sentido pedagógico...</h2>
    <div class="bullet-points">
      <p>
        Su lenguaje permite incorporar los conceptos principales del paradigma en
        forma incremental, desarrollando programas con polimorfismo desde el primer día
        e incorporando progresivamente complejidad con clases, bloques de código y mixins.
      </p>
      <p>
        Wollok está diseñado con una sintaxis liviana e intuitiva que hace foco en
        los conceptos y facilita la transición hacia los lenguajes industriales.
      </p>
    </div>
  </div>
</div>

<style>
  .class-img {
    opacity: 0.4;
  }

  #pedag-container {
    position: relative;
    margin-top: 0;
  }


  .description {
    z-index: 1;
    text-align: end;
    position: absolute;
    top: 1rem;
    left: 30%;
    right: 5%;
    bottom: 5%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .description *:is(h2, p) {
    color: #ffffff;
  }

  .description > .bullet-points {
    font-weight: 500;
  }

  .description > .bullet-points > p {
    margin-left: 25%;
    font-size: 1.2em;
    font-weight: 300;
    justify-content: flex-end;
  }

  .description > .title {
    padding-left: 40%;
    font-size: 2.5em;
  }
</style>
