---
import { Package } from "wollok-ts";
import WollokEntity from "./WollokEntity.astro";

interface Props {
  wPackage: Package;
}

const { wPackage } = Astro.props;
---

<h2 id={wPackage.fullyQualifiedName}>
  {wPackage.fileName!.substring("wollok/".length)}
</h2>

{wPackage.members.map((entity) => <WollokEntity entity={entity as any} />)}

<br />
<hr />
