---
---
<div class="sl-banner">
  <p>Si estás buscando el sitio web de la implementación de Wollok para Eclipse, te recomendamos visitar la página <a href="http://www.wollok-xtext.org">wollok-xtext.org</a></p>
</div>

<style>

.sl-banner {
  background-color: var(--sl-color-banner-bg);
  color: var(--sl-color-text-accent-inverted);
  display: flex;
  flex-direction: row;
  height: 4rem;
  align-items: center;
  justify-content: center;
}
</style>