---
---
<div class="sl-banner">
  <p>Si estás buscando el sitio web de la implementación de Wollok para Eclipse, te recomendamos visitar la página <a href="https://xtext.wollok.org/">xtext.wollok.org</a></p>
</div>

<style>

.sl-banner {
  background-color: var(--sl-color-banner-bg);
  color: var(--sl-color-text-accent-inverted);
  display: flex;
  flex-direction: row;
  height: 4rem;
  align-items: center;
  justify-content: center;
}

@media (max-width: 50em) {
  .sl-banner {
    height: auto;
    padding: 2rem 0;
    text-align: center;
  }
}
</style>