---
import LandingBanner from "./LandingBanner.astro";
import LandingIntro from "./LandingIntro.astro";
import LandingContent from "./LandingContent.astro";
import Separator from "../common/Separator.astro";
import LandingCommunity from "./LandingCommunity.astro";
---
<LandingBanner>
  <p>Si estás buscando el sitio web de la implementación de Wollok para Eclipse, te recomendamos visitar la página <a href="https://xtext.wollok.org/">xtext.wollok.org</a></p>
</LandingBanner>
<LandingBanner>
  <p><strong>Concurso Wollok Game 2024</strong> - Ya se anunciaron los ganadores del concurso! <a href="/news/concurso2024/">Revisá los resultados y probá los juegos</a>.</p>
</LandingBanner>
<LandingIntro />
<LandingContent />
<LandingCommunity />
<Separator />
