---
import InfoGallery from "../info-gallery/InfoGallery.astro";
const cards = await Astro.glob("./what-is-wollok/card-*.md");
import CommercialTool from "./commercial-tool/CommercialTool.astro";
import PedagogicalTool from "./pedagogical-tool/PedagogicalTool.astro";
---

<div class="striped">
  <div class="what-is-wollok">
    <InfoGallery title="¿Qué es Wollok?" cards={cards} />
  </div>
  <PedagogicalTool />
  <div id="separador"/>
  <CommercialTool />
  <div id="separador"/>
</div>

<style>
  .what-is-wollok {
    padding: 2rem 2rem;
  }

  .striped *:nth-child(odd) {
    background-color: var(--sl-color-gray-6);
  }

  #separador {
    margin-top: 0;
    padding: 0;
    height: 0.5rem;
  }
</style>
