---
---
<div class="sl-banner">
  <slot />
</div>

<style>
.sl-banner {
  background-color: var(--sl-color-banner-bg);
  color: var(--sl-color-text-accent-inverted);
  display: flex;
  flex-direction: row;
  height: 3rem;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

@media (max-width: 50em) {
  .sl-banner {
    height: auto;
    padding: 2rem 0;
    text-align: center;
  }
}
</style>