---
import CallToAction from "@astrojs/starlight/components/CallToAction.astro";
import { Code, Tabs, TabItem } from "@astrojs/starlight/components";
import Image from "astro/components/Image.astro";
import home1 from "../../../assets/home1.jpeg";
import pepitaExamplePath from "./pepita.txt?raw";
---

<div>
  <div class="intro-container">
    <div class="welcome">
      <h1>Wollok</h1>
      <p id="wollok-intro-subtitle">Aprendiendo a programar con objetos</p>
      <div class="actions">
        <CallToAction
          link="./getting_started/installation"
          variant="primary"
          icon={{ type: "icon", name: "rocket" }}
        >
          Instalar
        </CallToAction>
        <CallToAction link="./documentation/language" variant="secondary">
          Documentación
        </CallToAction>
      </div>
    </div>
    <div class="hide-mobile pepita-example">
      <Tabs>
        <TabItem label="Código">
          <Code code={pepitaExamplePath} lang="wollok" />
        </TabItem>
        <TabItem label="Diagrama"> imagennn </TabItem>
      </Tabs>
    </div>
  </div>
</div>

<style>
  .intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
    gap: 15px;
    height: 50vh;
  }

  #wollok-intro-subtitle {
    margin-top: 0;
    font-size: 1.3rem;
  }

  .actions {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .pepita-example {
    width: 55%;
    height: 100%;
    margin: 0 !important;
  }

  .action {
    justify-content: center;
  }

  @media (max-width: 600px) {
    .hide-mobile {
      display: none;
    }

    #wollok-intro-subtitle {
      text-align: center;
    }
    .intro-container {
      justify-content: center;
    }

    .actions {
      flex-direction: column;
    }

    .intro-container .welcome h1 {
      text-align: center;
    }

    .welcome {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
</style>
