---
import InfoGallery from "../info-gallery/InfoGallery.astro";
const cards = await Astro.glob("./what-is-wollok/card-*.md");
import CommercialTool from "./commercial-tool/CommercialTool.astro";
import PedagogicalTool from "./pedagogical-tool/PedagogicalTool.astro";
import Separator from "../common/Separator.astro";
import {Image} from "astro:assets";
import srcSokoban from "../../../assets/juegoSokoban.gif";
---

<div class="striped">
  <div class="what-is-wollok">
    <div class="cards">
      <InfoGallery title="¿Qué es Wollok?" cards={cards} />
    </div>
    <Image alt="Juego Sokoban" src={srcSokoban} />
  </div>
  <PedagogicalTool />
  <Separator />
  <CommercialTool />
  <Separator />
</div>

<style>
  .what-is-wollok {
    padding: 2rem 2rem;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 2fr;
  }

  .striped *:nth-child(odd) {
    background-color: var(--sl-color-gray-6);
  }

  #separador {
    margin-top: 0;
    padding: 0;
    height: 0.3rem;
    background: linear-gradient(to left, var(--sl-color-gray-6), var(--sl-color-accent));
  }

  @media(max-width: 50em) {
    .what-is-wollok {
      padding: 2rem 2rem;
      display: flex;
      justify-items: center;
      align-items: center;
      flex-direction: column;
    }
</style>
