---
import claseImage from "../../../../assets/ide2.png";
import { Image } from "astro:assets";
---

<div class="commercial-container">
  <div class="description">
    <h2 class="title">...pensado desde la industria</h2>
    <div class="bullet-points">
      <p>
        Como proponemos que los estudiantes programen desde el primer día con
        testeo unitario, es importante que lo hagan en un Entorno Integrado de
        Desarrollo dedicado. 
      </p>
      <p>
        El reporte de errores, la generación automática de diagramas y su sistema de inferencia de tipos permiten
        una experiencia que enseña que desarrollar software es más que solo programar.
      </p>
    </div>
  </div>
  <Image class="class-img" src={claseImage} alt="Entorno integrado de desarrollo (IDE)"/>
</div>

<style>
  .commercial-container {
    margin-top: 0 !important;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
  }

  .class-img {
    opacity: 0.6;
    width: 21rem;
    top: 0;
    padding-right: 0.5rem;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .description *:is(h2, p) {
    color: #ffffff;
  }

  .description > .bullet-points {
    font-weight: 500;
  }

  .description > .bullet-points > p {
    margin-left: 2rem;
    font-size: 1.2em;
    font-weight: 300;
    justify-content: flex-start;
  }

  .description > .title {
    padding-left: 2rem;
    font-size: 2.5em;
  }
</style>
