<footer>
  Copyright © 2023, <a href="http://www.uqbar.org/">Fundación Uqbar</a>, Todos
  los derechos reservados. Distribuido según licencia LGPLv3
  <a href="https://www.gnu.org/licenses/lgpl-3.0.txt"
    >https://www.gnu.org/licenses/lgpl-3.0.txt</a
  >
</footer>

<style>
  footer {
    color: #6c757d;
    text-align: center;
    padding: 1rem;
    font-size: 0.5em;
  }

  a {
    color: var(--sl-color-text-accent);
  }
</style>
