<html>
  <head>
    <meta charset="UTF-8" />
    <title>Dynamic Diagram</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.30.2/cytoscape.min.js"
    ></script>
    <script
      src="/dynamicDiagram/lib/diagram-index.js"
    ></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/dynamicDiagram/styles/dynamicDiagram.css" />
    <style>
      #cy {
        display: block;
        height: 30rem;
        width: 50vw;
        resize: vertical;
        overflow: auto;
      }
    </style>
  </head>

  <body>
    <script>

setTimeout(() => {
  initializeCytoscape(document.getElementById('cy'))
  document.getElementById('toggle-mode').checked = document.getElementsByTagName('html')[0].dataset.theme == 'dark'
  modeChanged()
}, 1000)

    </script>
    <div id="main" class="mainDynamicDiagram">
      <div class="botoneraDynamicDiagram">
        <button style="visibility: hidden;" id="reloadDiagram"></button>
        <button class="organize" onclick="updateLayout()" title="Relocate the objects and their relationships in the diagram">ORGANIZE</button>
        <div class="row">
          <img src="/dynamicDiagram/images/dark-mode.png" id="imgModeDynamicDiagram" title="Dark/Light mode"/>
          <input type="checkbox" id="toggle-mode" class="toggle" onchange="modeChanged()">
        </div>
        <div class="row">
          <img src="/dynamicDiagram/images/pin-objects.png" id="imgPinObjectsDynamicDiagram" title="Fix objects position"/>
          <input type="checkbox" id="toggle-pin" class="toggle" onshow="objectsPositionChanged()" onchange="objectsPositionChanged()">
        </div>
      </div>
      <div id="cy"></div>
    </div>
  </body>
</html>
