<html>
  <head>
    <meta charset="UTF-8" />
    <title>Dynamic Diagram</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.30.2/cytoscape.min.js"
    ></script>
    <script
      src="/dynamicDiagram/lib/diagram-index.js"
    ></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/dynamicDiagram/styles/dynamicDiagram.css" />
    <style>
      #cy {
        display: block;
        height: 30rem;
        width: 50vw;
        resize: vertical;
        overflow: auto;
      }

      .warning-session {
        color: #FFC72C;
        margin: 1rem 1rem;
      }
    </style>
  </head>

  <body>
    <script>

const DIAGRAM_MODE = 'wollok-diagram-mode'
const DIAGRAM_PIN = 'wollok-diagram-pin'

const MODE_DARK = 'dark'
const MODE_LIGHT = 'light'

const PIN_FIXED = 'fixed'
const PIN_FREE = 'free'

const defaultMode = () => localStorage.getItem('starlight-theme') ?? MODE_LIGHT
const defaultPin = () => PIN_FREE

const loadMode = () => {
  if (!localStorage.getItem(DIAGRAM_MODE)) {
    localStorage.setItem(DIAGRAM_MODE, defaultMode())
  }
  return localStorage.getItem(DIAGRAM_MODE)
}

const loadPin = () => {
  if (!localStorage.getItem(DIAGRAM_PIN)) {
    localStorage.setItem(DIAGRAM_PIN, defaultPin())
  }
  return localStorage.getItem(DIAGRAM_PIN)
}

const markReplSessionOutdated = () => {
  document.getElementById('session-synced').style = 'visibility: visible;'
}

const markReplSessionSynced = () => {
  document.getElementById('session-synced').style = 'visibility: hidden;'
}

setTimeout(() => {
  initializeCytoscape(document.getElementById('cy'))
  document.getElementById('toggle-mode').checked = loadMode() === MODE_DARK
  document.getElementById('toggle-pin').checked = loadPin() === PIN_FIXED
  modeChanged()
}, 1000)

const customModeChanged = () => {
  modeChanged()
  const mode = document.getElementById('toggle-mode').checked ? MODE_DARK : MODE_LIGHT
  localStorage.setItem(DIAGRAM_MODE, mode)
}

const customObjectsPositionChanged = () => {
  objectsPositionChanged()
  const fixed = document.getElementById('toggle-pin').checked ? PIN_FIXED : PIN_FREE
  localStorage.setItem(DIAGRAM_PIN, fixed)
}

    </script>
    <div id="main" class="mainDynamicDiagram">
      <div class="warning-session" id="session-synced" style="visibility: hidden">
        <i class="fa-solid fa-triangle-exclamation fa-2xl" title="La sesión activa del REPL no está sincronizada con el editor"></i>
      </div>
      <div class="botoneraDynamicDiagram">
        <button style="visibility: hidden;" id="reloadDiagram"></button>
        <button class="organize" onclick="updateLayout()" title="Relocate the objects and their relationships in the diagram">ORGANIZE</button>
        <div class="row">
          <img src="/dynamicDiagram/images/dark-mode.png" id="imgModeDynamicDiagram" title="Dark/Light mode"/>
          <input type="checkbox" id="toggle-mode" class="toggle" onchange="customModeChanged()">
        </div>
        <div class="row">
          <img src="/dynamicDiagram/images/pin-objects.png" id="imgPinObjectsDynamicDiagram" title="Fix objects position"/>
          <input type="checkbox" id="toggle-pin" class="toggle" onshow="objectsPositionChanged()" onchange="customObjectsPositionChanged()">
        </div>
      </div>
      <div id="cy"></div>
    </div>
  </body>
</html>
