.main-repl {
  width: calc(100vw - 2rem);
  margin: 0 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 2rem 2rem;
}

.repl {
  margin: 0;
  display: flex;
  flex-direction: column;
}


@media(max-width: 440px) {

  .main-repl {
    display: flex;
    flex-direction: column;
  }

}