---
import "./MainRepl.css"
import Repl from "./repl.html"
import DynamicDiagram from "./dynamicDiagram.html"
import { ReplEvaluator } from "./ReplEvaluator"
---
<section class="main-repl">
    <Repl client:load/>
    <div class="repl">
        <ReplEvaluator client:only />
        <DynamicDiagram/>
    </div>
</section>