<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <style type="text/css" media="screen">
    .file {
      display: flex;
      flex-direction: column;
    }

    #editor {
      padding: 0.5rem 0;
      margin: 0.5rem;
      height: 35rem;
      border: 1px solid gray;
      z-index: 10;
      resize: vertical;
      overflow: auto;
    }

    .sl-markdown-content :not(a, strong, em, del, span, input, code)+ :not(a, strong, em, del, span, input, code, :where(.not-content *)) {
      margin-top: 0;
    }

    .menu-option {
      color: indianred;
      border-radius: 5px;
    }

    .save {
      color: steelblue;
    }

    .zoom {
      color: var(--sl-color-banner-bg);
    }

    .warning-editor {
      color: #FFC72C;
      right: 1rem;
      margin-left: auto;
    }

    .menu-option:hover {
      cursor: pointer;
    }

    .theme {
      min-width: max-content;
      padding-left: 0.2em !important;
    }

    .toolbar {
      margin: 0 1rem;
      gap: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  </style>
</head>

<body onload="loadEditorFile()">

  <!-- ace 1.36.2 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ace.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-beautify.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-code_lens.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-command_bar.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-elastic_tabstops_lite.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-emmet.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-error_marker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-hardwrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-inline_autocomplete.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-keybinding_menu.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-language_tools.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-linking.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-modelist.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-options.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-prompt.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-rtl.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-searchbox.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-settings_menu.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-simple_tokenizer.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-spellcheck.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-split.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-static_highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-statusbar.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-textarea.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-themelist.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-whitespace.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/keybinding-vscode.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/mode-wollok.min.js"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>

  <div class="file">
    <div class="toolbar">
      <div class="menu-option zoom" title="Agrandar la letra" onclick="zoomInFont()">
        <i class="fa-solid fa-font fa-xl"></i>
      </div>
      <div class="menu-option zoom" title="Achicar la letra" onclick="zoomOutFont()">
        <i class="fa-solid fa-font fa-md"></i>
      </div>
      <select id="theme" class="theme" onchange="changeTheme()" title="Cambiar tema del editor">
        <option value="ambiance">Ambiance</option>
        <option value="chaos">Chaos</option>
        <option value="chrome">Chrome</option>
        <option value="cloud9_day">Cloud9 Day</option>
        <option value="cloud9_night">Cloud9 Night</option>
        <option value="cloud9_night_low_color">Cloud9 Night Low Color</option>
        <option value="cloud_editor_dark">Cloud Editor Dark</option>
        <option value="cloud_editor">Cloud Editor</option>
        <option value="clouds">Clouds</option>
        <option value="clouds_midnight">Clouds Midnight</option>
        <option value="cobalt">Cobalt</option>
        <option value="crimson_editor">Crimson Editor</option>
        <option value="dawn">Dawn</option>
        <option value="dracula">Dracula</option>
        <option value="dreamweaver">Dreamweaver</option>
        <option value="eclipse">Eclipse</option>
        <option value="github_dark">Github Dark</option>
        <option value="github">Github</option>
        <option value="github_light_default">Github Light Default</option>
        <option value="gob">Gob</option>
        <option value="gruvbox_dark_hard">Gruvbox Dark Hard</option>
        <option value="gruvbox">Gruvbox</option>
        <option value="gruvbox_light_hard">Gruvbox Light Hard</option>
        <option value="idle_fingers">Idle Fingers</option>
        <option value="iplastic">Iplastic</option>
        <option value="katzenmilch">Katzenmilch</option>
        <option value="kr_theme">Kr Theme</option>
        <option value="kuroir">Kuroir</option>
        <option value="merbivore">Merbivore</option>
        <option value="merbivore_soft">Merbivore Soft</option>
        <option value="mono_industrial">Mono Industrial</option>
        <option value="monokai">Monokai</option>
        <option value="nord_dark">Nord Dark</option>
        <option value="one_dark">One Dark</option>
        <option value="pastel_on_dark">Pastel on Dark</option>
        <option value="solarized_dark">Solarized Dark</option>
        <option value="solarized_light">Solarized Light</option>
        <option value="sqlserver">SQL Server</option>
        <option value="terminal">Terminal</option>
        <option value="textmate">Textmate</option>
        <option value="tomorrow">Tomorrow</option>
        <option value="tomorrow_night_blue">Tomorrow Night Blue</option>
        <option value="tomorrow_night_bright">Tomorrow Night Bright</option>
        <option value="tomorrow_night_eighties">Tomorrow Night '80s</option>
        <option value="tomorrow_night">Tomorrow Night</option>
        <option value="twilight">Twilight</option>
        <option value="vibrant_ink">Vibrant Ink</option>
        <option value="xcode">Xcode</option>
      </select>
      <div class="menu-option save" title="Guardar los cambios en el navegador" onclick="saveFile()">
        <i class="fa-solid fa-download fa-xl"></i>
      </div>
      <div class="menu-option" title="Cargar un archivo Wollok" onclick="openFile()">
        <i class="fa-solid fa-file-arrow-up fa-xl"></i>
      </div>
      <div class="warning-editor" id="editor-synced" display="visibility: hidden">
        <i class="fa-solid fa-triangle-exclamation fa-xl" title="El editor tiene cambios pendientes sin guardar"></i>
      </div>
      </div>
    <div id="editor"></div>
    <input type="file" id="customFile" name="customFile" accept=".wlk" style="display: none;" onchange="fileSelected()" />
  </div>

  <script>
    const EDITOR_FILE = 'wollok-editor-file'
    const EDITOR_THEME = 'wollok-editor-theme'
    const EDITOR_FONT_SIZE = 'wollok-editor-font-size'

    const DEFAULT_FONT_SIZE = 13
    const TAB_SIZE = 2

    const notifier = new Notyf({
      position: {
        x: 'center',
        y: 'center',
      },
      types: [
        {
          type: 'success',
          background: 'indianred',
        }
      ],
    })

    /*****************************************************************************************
     * UTILS
     ****************************************************************************************/
    const loadJS = (file) => {
      const scriptElement = document.createElement("script")
      scriptElement.type = "application/javascript"
      scriptElement.src = file
      document.body.appendChild(scriptElement)
    }

    const getEditorContent = () => editor.getValue()

    const showError = (error) => {
      editor.session.setAnnotations(
        [
          {
            row: Math.max(0, editor.session.getLength() - 1),
            column: 0,
            text: error,
            type: 'error',
          }
        ]
      )
      document.getElementById('editor').style.border = 'solid 2px indianred'
    }

    /*****************************************************************************************
     * CHANGES
     ****************************************************************************************/

    const changeFontSize = () => {
      editor.setOptions({
        fontSize: `${fontSize}pt`
      })
      localStorage.setItem(EDITOR_FONT_SIZE, fontSize)
    }

    const changeTheme = () => {
      const theme = document.getElementById('theme').value
      editor.setTheme(`ace/theme/${theme}`)
      localStorage.setItem(EDITOR_THEME, theme)
    }

    const debounce = (callback, wait) => {
      let timerId
      return (...args) => {
        clearTimeout(timerId)
        timerId = setTimeout(() => {
          callback(...args)
        }, wait)
      };
    }

    /*****************************************************************************************
     * INITIALIZATION
     ****************************************************************************************/

    const loadTheme = () => {
      if (!localStorage.getItem(EDITOR_THEME)) {
        localStorage.setItem(EDITOR_THEME, defaultTheme())
      }
      const theme = localStorage.getItem(EDITOR_THEME)
      loadJS(`https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-${theme}.min.js`)
      editor.setTheme(`ace/theme/${theme}`)
      const cbTheme = document.getElementById('theme')
      cbTheme.value = theme
    }

    const defaultFile = () => `// podemos definir objetos...
  object pepita {

    // ...que tienen atributos (referencias)
    var energia = 100

    // hay métodos que cambian el estado interno de un objeto
    method comer(comida) {
      energia += comida.energia()
    }

    // y métodos que calculan valores
    method estaCansada() = energia < 40

  }

  // además de los objetos, existen las clases
  class Semilla {
    // los atributos se pueden definir como properties
    // para generar automáticamente getters y setters
    var property energia = 10
  }`

    const loadEditorFile = () => {
      if (!localStorage.getItem(EDITOR_FILE)) {
        localStorage.setItem(EDITOR_FILE, defaultFile())
      }
      editor.setValue(localStorage.getItem(EDITOR_FILE), -1)
    }

    const loadFontSize = () => {
      if (!localStorage.getItem(EDITOR_FONT_SIZE)) {
        localStorage.setItem(EDITOR_FONT_SIZE, DEFAULT_FONT_SIZE)
      }
      return localStorage.getItem(EDITOR_FONT_SIZE)
    }

    const defaultTheme = () => {
      const darkMode = document.getElementsByTagName('html')[0].dataset.theme == 'dark'
      return darkMode ? 'gruvbox' : 'cloud9_day'
    }

    const loadSyncedImage = () => {
      const editorSynced = document.getElementById('editor-synced')
      editorSynced.style.visibility = synced ? 'hidden' : 'visible'
    }

    let editor = ace.edit("editor")
    let synced = true
    let firstTime = true
    let fontSize = loadFontSize()
    loadSyncedImage()
    loadTheme()
    editor.setOptions({
      mode: 'ace/mode/wollok',
      tabSize: TAB_SIZE,
      useSoftTabs: true,
      fontSize: `${fontSize}pt`,
    })

    editor.on('change', debounce(() => {
      document.getElementById('editor').style.border = 'solid 1px gray'
      document.getElementById('validateEditor').click()
      if (firstTime) {
        firstTime = false
      } else {
        markReplSessionOutdated()
        synced = false
        loadSyncedImage()
      }
    }, 2000))

    /*****************************************************************************************
     * TOOLBAR ACTIONS
     ****************************************************************************************/

    const zoomInFont = () => {
      fontSize++
      changeFontSize()
    }

    const zoomOutFont = () => {
      fontSize--
      changeFontSize()
    }

    const saveFile = () => {
      localStorage.setItem(EDITOR_FILE, getEditorContent())
      synced = true
      loadSyncedImage()
      notifier.success('¡Archivo guardado!')
    }

    const showProblems = (problems) => {
      editor.getSession().setAnnotations(problems)
    }

    const openFile = () => {
      document.getElementById('customFile').click()
    }

    const fileSelected = () => {
      const files = document.getElementById('customFile').files
      if (!files.length) return;
      const file = files[0]
      if (!file) return;
      const reader = new FileReader()
      reader.readAsText(file, "UTF-8")
      reader.onload = function (evt) {
        const content  = evt.target.result
        editor.setValue(content, -1)
        notifier.success('Se cargó el archivo correctamente. Si quiere conservarlo, recuerde guardarlo antes de salir.')
      }
    }
  </script>

</body>

</html>