<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
  <style type="text/css" media="screen">
    .file {
      display: flex;
      flex-direction: column;
    }

    #editor {
      padding: 0.5rem 0;
      z-index: 10;
    }

    .sl-markdown-content :not(a, strong, em, del, span, input, code)+ :not(a, strong, em, del, span, input, code, :where(.not-content *)) {
      margin-top: 0;
    }

    .menu_option {
      color: black;
      width: 25px;
      height: 25px !important;
      border-radius: 5px;
    }

    .menu_option:hover {
      cursor: pointer;
      box-shadow: 0 0 5px gray;
      text-shadow: 0 0 5px gray;
    }

    .theme {
      min-width: max-content;
      padding-left: 0.2em !important;
    }

    .toolbar {
      margin: 0 1rem;
      gap: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  </style>
</head>

<body onload="loadEditorFile()">

  <!-- ace 1.36.2 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ace.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-beautify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-code_lens.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-command_bar.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-elastic_tabstops_lite.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-emmet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-error_marker.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-hardwrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-inline_autocomplete.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-keybinding_menu.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-language_tools.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-linking.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-modelist.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-options.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-prompt.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-rtl.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-searchbox.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-settings_menu.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-simple_tokenizer.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-spellcheck.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-split.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-static_highlight.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-statusbar.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-textarea.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-themelist.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/ext-whitespace.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/keybinding-vscode.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/mode-wollok.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-ambiance.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-chaos.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-chrome.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-cloud9_day.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-cloud9_night.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-cloud9_night_low_color.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-cloud_editor_dark.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-cloud_editor.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-clouds.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-clouds_midnight.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-cobalt.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-crimson_editor.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-dawn.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-dracula.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-dreamweaver.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-eclipse.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-github_dark.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-github.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-github_light_default.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-gob.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-gruvbox_dark_hard.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-gruvbox.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-gruvbox_light_hard.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-idle_fingers.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-iplastic.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-katzenmilch.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-kr_theme.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-kuroir.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-merbivore.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-merbivore_soft.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-mono_industrial.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-monokai.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-nord_dark.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-one_dark.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-pastel_on_dark.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-solarized_dark.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-solarized_light.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-sqlserver.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-terminal.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-textmate.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-tomorrow.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-tomorrow_night_blue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-tomorrow_night_bright.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-tomorrow_night_eighties.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-tomorrow_night.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-twilight.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-vibrant_ink.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.2/theme-xcode.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>

  <div class="file">
    <div class="toolbar">
      <img class="menu_option" src="/repl/zoom_in.png" title="Agrandar la letra" onclick="zoomInFont()" />
      <img class="menu_option" src="/repl/zoom_out.png" title="Achicar la letra" onclick="zoomOutFont()" />
      <select id="theme" class="theme" onchange="changeTheme()" title="Cambiar tema del editor">
        <option value="ambiance">Ambiance</option>
        <option value="chaos">Chaos</option>
        <option value="chrome">Chrome</option>
        <option value="cloud9_day">Cloud9 Day</option>
        <option value="cloud9_night">Cloud9 Night</option>
        <option value="cloud9_night_low_color">Cloud9 Night Low Color</option>
        <option value="cloud_editor_dark">Cloud Editor Dark</option>
        <option value="cloud_editor">Cloud Editor</option>
        <option value="clouds">Clouds</option>
        <option value="clouds_midnight">Clouds Midnight</option>
        <option value="cobalt">Cobalt</option>
        <option value="crimson_editor">Crimson Editor</option>
        <option value="dawn">Dawn</option>
        <option value="dracula">Dracula</option>
        <option value="dreamweaver">Dreamweaver</option>
        <option value="eclipse">Eclipse</option>
        <option value="github_dark">Github Dark</option>
        <option value="github">Github</option>
        <option value="github_light_default">Github Light Default</option>
        <option value="gob">Gob</option>
        <option value="gruvbox_dark_hard">Gruvbox Dark Hard</option>
        <option value="gruvbox">Gruvbox</option>
        <option value="gruvbox_light_hard">Gruvbox Light Hard</option>
        <option value="idle_fingers">Idle Fingers</option>
        <option value="iplastic">Iplastic</option>
        <option value="katzenmilch">Katzenmilch</option>
        <option value="kr_theme">Kr Theme</option>
        <option value="kuroir">Kuroir</option>
        <option value="merbivore">Merbivore</option>
        <option value="merbivore_soft">Merbivore Soft</option>
        <option value="mono_industrial">Mono Industrial</option>
        <option value="monokai">Monokai</option>
        <option value="nord_dark">Nord Dark</option>
        <option value="one_dark">One Dark</option>
        <option value="pastel_on_dark">Pastel on Dark</option>
        <option value="solarized_dark">Solarized Dark</option>
        <option value="solarized_light">Solarized Light</option>
        <option value="sqlserver">SQL Server</option>
        <option value="terminal">Terminal</option>
        <option value="textmate">Textmate</option>
        <option value="tomorrow">Tomorrow</option>
        <option value="tomorrow_night_blue">Tomorrow Night Blue</option>
        <option value="tomorrow_night_bright">Tomorrow Night Bright</option>
        <option value="tomorrow_night_eighties">Tomorrow Night '80s</option>
        <option value="tomorrow_night">Tomorrow Night</option>
        <option value="twilight">Twilight</option>
        <option value="vibrant_ink">Vibrant Ink</option>
        <option value="xcode">Xcode</option>
      </select>
      <img class="menu_option" id="editor_synced"/>
      <img class="menu_option" src="/repl/save.png" title="Guardar los cambios en el navegador" onclick="saveFile()" />
      <img class="menu_option" src="/repl/open.png" title="Cargar un archivo Wollok" onclick="openFile()" />
    </div>
    <div id="editor" style="margin: 0.5rem; height: 35rem; border: 1px solid gray;"></div>
    <input type="file" id="customFile" name="customFile" accept=".wlk" style="display: none;" onchange="fileSelected()" />
  </div>

  <script>
    const EDITOR_FILE = 'wollok-editor-file'
    const EDITOR_THEME = 'wollok-editor-theme'
    const EDITOR_FONT_SIZE = 'wollok-editor-font-size'

    const DEFAULT_FONT_SIZE = 13
    const TAB_SIZE = 2

    const notifier = new Notyf({
      position: {
        x: 'center',
        y: 'center',
      },
      types: [
        {
          type: 'success',
          background: 'indianred',
        }
      ],
    })

    /*****************************************************************************************
     * UTILS
     ****************************************************************************************/
    const getEditorContent = () => editor.getValue()

    const showError = (error) => {
      editor.session.setAnnotations(
        [
          {
            row: Math.max(0, editor.session.getLength() - 1),
            column: 0,
            text: error,
            type: 'error',
          }
        ]
      )
    }

    /*****************************************************************************************
     * CHANGES
     ****************************************************************************************/

    const changeFontSize = () => {
      editor.setOptions({
        fontSize: `${fontSize}pt`
      })
      localStorage.setItem(EDITOR_FONT_SIZE, fontSize)
    }

    const changeTheme = () => {
      const theme = document.getElementById('theme').value
      editor.setTheme(`ace/theme/${theme}`)
      localStorage.setItem(EDITOR_THEME, theme)
    }

    const debounce = (callback, wait) => {
      let timerId
      return (...args) => {
        clearTimeout(timerId)
        timerId = setTimeout(() => {
          callback(...args)
        }, wait)
      };
    }

    /*****************************************************************************************
     * INITIALIZATION
     ****************************************************************************************/

    const loadTheme = () => {
      if (!localStorage.getItem(EDITOR_THEME)) {
        localStorage.setItem(EDITOR_THEME, defaultTheme())
      }
      const theme = localStorage.getItem(EDITOR_THEME)
      editor.setTheme(`ace/theme/${theme}`)
      const cbTheme = document.getElementById('theme')
      cbTheme.value = theme
    }

    const defaultFile = () => `// podemos definir objetos...
  object pepita {

    // ...que tienen atributos (referencias)
    var energia = 100

    // hay métodos que cambian el estado interno de un objeto
    method comer(comida) {
      energia += comida.energia()
    }

    // y métodos que calculan valores
    method estaCansada() = energia < 40

  }

  // además de los objetos, existen las clases
  class Semilla {
    // los atributos se pueden definir como properties
    // para generar automáticamente getters y setters
    var property energia = 10
  }`

    const loadEditorFile = () => {
      if (!localStorage.getItem(EDITOR_FILE)) {
        localStorage.setItem(EDITOR_FILE, defaultFile())
      }
      editor.setValue(localStorage.getItem(EDITOR_FILE), -1)
    }

    const loadFontSize = () => {
      if (!localStorage.getItem(EDITOR_FONT_SIZE)) {
        localStorage.setItem(EDITOR_FONT_SIZE, DEFAULT_FONT_SIZE)
      }
      return localStorage.getItem(EDITOR_FONT_SIZE)
    }

    const defaultTheme = () => {
      const darkMode = document.getElementsByTagName('html')[0].dataset.theme == 'dark'
      return darkMode ? 'gruvbox' : 'cloud9_day'
    }

    const loadSyncedImage = () => {
      const imgSynced = document.getElementById('editor_synced')
      imgSynced.src = synced ? '/repl/synced.png' : '/repl/unsynced.png'
      imgSynced.title = synced ? 'El editor está actualizado' : 'El editor tiene cambios pendientes sin guardar'
    }

    let editor = ace.edit("editor")
    let synced = true
    let firstTime = true
    let fontSize = loadFontSize()
    loadSyncedImage()
    loadTheme()
    editor.setOptions({
      mode: 'ace/mode/wollok',
      tabSize: TAB_SIZE,
      useSoftTabs: true,
      fontSize: `${fontSize}pt`,
    })

    editor.on('change', debounce(() => {
      document.getElementById('validateEditor').click()
      if (firstTime) {
        firstTime = false
      } else {
        synced = false
        loadSyncedImage()
      }
    }, 2000))

    /*****************************************************************************************
     * TOOLBAR ACTIONS
     ****************************************************************************************/

    const zoomInFont = () => {
      fontSize++
      changeFontSize()
    }

    const zoomOutFont = () => {
      fontSize--
      changeFontSize()
    }

    const saveFile = () => {
      localStorage.setItem(EDITOR_FILE, getEditorContent())
      synced = true
      loadSyncedImage()
      notifier.success('¡Archivo guardado!')
    }

    const showProblems = (problems) => {
      editor.getSession().setAnnotations(problems)
    }

    const openFile = () => {
      document.getElementById('customFile').click()
    }

    const fileSelected = () => {
      const files = document.getElementById('customFile').files
      if (!files.length) return;
      const file = files[0]
      if (!file) return;
      const reader = new FileReader()
      reader.readAsText(file, "UTF-8")
      reader.onload = function (evt) {
        const content  = evt.target.result
        editor.setValue(content, -1)
        notifier.success('Se cargó el archivo correctamente. Si quiere conservarlo, recuerde guardarlo antes de salir.')
      }
    }
  </script>

</body>

</html>