.line {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'Source Code Pro', 'source-code-pro', monospace;
}

div, button {
    background-color: var(sl-color-black);
}

.result {
    background-color: black;
    color: greenyellow;
    padding: 0.5rem;
}

.result.error {
    color: lightcoral;
    font-weight: bold;
}

.line {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.expression {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    outline: none;
    border-bottom-style: ridge;
    border-bottom-width: 1px;
    padding: 0;
    margin: 0;
    width: 100%;
}

.botonera {
    display: flex;
    flex-direction: row;
}

button {
    border: 0;
    outline: 0;
    border-radius: 10px;
    padding: 0.5rem 0.5rem;
    margin: 0 0.25rem;
}

.evaluate {
    background-color: #b15757;
}

.refresh {
    background-color: white;
    border: 1px solid gray;
}

.reload {
    background-color: cornflowerblue;
}


.evaluate:hover {
    background-color: lightcoral;
    cursor: pointer;
}

.refresh:hover {
    background-color: lightgray;
    cursor: pointer;
}

.reload:hover {
    background-color: lightblue;
    cursor: pointer;
}

img {
    color: white;
}