<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css" media="screen">
        #editor { 
        padding: 0.5rem 0;
        z-index: 10;
    }

    .sl-markdown-content :not(a, strong, em, del, span, input, code) + :not(a, strong, em, del, span, input, code, :where(.not-content *)) {
        margin-top: 0;
    }
    </style>
</head>
<body>

<div id="editor" style="height: 30rem;">// podemos definir objetos...
object pepita {

  // ...que tienen atributos (referencias)
  var energia = 100
  
  // hay métodos que cambian el estado interno de un objeto
  method comer(comida) {
    energia += comida.energia()
  }
  
  // y métodos que calculan valores
  method estaCansada() = energia < 40
}

// además de los objetos, existen las clases
class Semilla {

  // los atributos se pueden definir como properties
  // para generar automáticamente getters y setters
  var property energia = 10

}
</div>

<!-- ace 1.36.2 -->
<script src="/src/assets/repl/ace/ace.js"></script>
<script src="/src/assets/repl/ace/ext-beautify.js"></script>
<script src="/src/assets/repl/ace/ext-code_lens.js"></script>
<script src="/src/assets/repl/ace/ext-command_bar.js"></script>
<script src="/src/assets/repl/ace/ext-elastic_tabstops_lite.js"></script>
<script src="/src/assets/repl/ace/ext-emmet.js"></script>
<script src="/src/assets/repl/ace/ext-error_marker.js"></script>
<script src="/src/assets/repl/ace/ext-hardwrap.js"></script>
<script src="/src/assets/repl/ace/ext-inline_autocomplete.js"></script>
<script src="/src/assets/repl/ace/ext-keybinding_menu.js"></script>
<script src="/src/assets/repl/ace/ext-language_tools.js"></script>
<script src="/src/assets/repl/ace/ext-linking.js"></script>
<script src="/src/assets/repl/ace/ext-modelist.js"></script>
<script src="/src/assets/repl/ace/ext-options.js"></script>
<script src="/src/assets/repl/ace/ext-prompt.js"></script>
<script src="/src/assets/repl/ace/ext-rtl.js"></script>
<script src="/src/assets/repl/ace/ext-searchbox.js"></script>
<script src="/src/assets/repl/ace/ext-settings_menu.js"></script>
<script src="/src/assets/repl/ace/ext-simple_tokenizer.js"></script>
<script src="/src/assets/repl/ace/ext-spellcheck.js"></script>
<script src="/src/assets/repl/ace/ext-split.js"></script>
<script src="/src/assets/repl/ace/ext-static_highlight.js"></script>
<script src="/src/assets/repl/ace/ext-statusbar.js"></script>
<script src="/src/assets/repl/ace/ext-textarea.js"></script>
<script src="/src/assets/repl/ace/ext-themelist.js"></script>
<script src="/src/assets/repl/ace/ext-whitespace.js"></script>
<script src="/src/assets/repl/ace/keybinding-vscode.js"></script>
<script src="/src/assets/repl/ace/mode-wollok.js"></script>
<script src="/src/assets/repl/ace/theme-ambiance.js"></script>
<script src="/src/assets/repl/ace/theme-chaos.js"></script>
<script src="/src/assets/repl/ace/theme-chrome.js"></script>
<script src="/src/assets/repl/ace/theme-cloud9_day.js"></script>
<script src="/src/assets/repl/ace/theme-cloud9_night.js"></script>
<script src="/src/assets/repl/ace/theme-cloud9_night_low_color.js"></script>
<script src="/src/assets/repl/ace/theme-cloud_editor_dark.js"></script>
<script src="/src/assets/repl/ace/theme-cloud_editor.js"></script>
<script src="/src/assets/repl/ace/theme-clouds.js"></script>
<script src="/src/assets/repl/ace/theme-clouds_midnight.js"></script>
<script src="/src/assets/repl/ace/theme-cobalt.js"></script>
<script src="/src/assets/repl/ace/theme-crimson_editor.js"></script>
<script src="/src/assets/repl/ace/theme-dawn.js"></script>
<script src="/src/assets/repl/ace/theme-dracula.js"></script>
<script src="/src/assets/repl/ace/theme-dreamweaver.js"></script>
<script src="/src/assets/repl/ace/theme-eclipse.js"></script>
<script src="/src/assets/repl/ace/theme-github_dark.js"></script>
<script src="/src/assets/repl/ace/theme-github.js"></script>
<script src="/src/assets/repl/ace/theme-github_light_default.js"></script>
<script src="/src/assets/repl/ace/theme-gob.js"></script>
<script src="/src/assets/repl/ace/theme-gruvbox_dark_hard.js"></script>
<script src="/src/assets/repl/ace/theme-gruvbox.js"></script>
<script src="/src/assets/repl/ace/theme-gruvbox_light_hard.js"></script>
<script src="/src/assets/repl/ace/theme-idle_fingers.js"></script>
<script src="/src/assets/repl/ace/theme-iplastic.js"></script>
<script src="/src/assets/repl/ace/theme-katzenmilch.js"></script>
<script src="/src/assets/repl/ace/theme-kr_theme.js"></script>
<script src="/src/assets/repl/ace/theme-kuroir.js"></script>
<script src="/src/assets/repl/ace/theme-merbivore.js"></script>
<script src="/src/assets/repl/ace/theme-merbivore_soft.js"></script>
<script src="/src/assets/repl/ace/theme-mono_industrial.js"></script>
<script src="/src/assets/repl/ace/theme-monokai.js"></script>
<script src="/src/assets/repl/ace/theme-nord_dark.js"></script>
<script src="/src/assets/repl/ace/theme-one_dark.js"></script>
<script src="/src/assets/repl/ace/theme-pastel_on_dark.js"></script>
<script src="/src/assets/repl/ace/theme-solarized_dark.js"></script>
<script src="/src/assets/repl/ace/theme-solarized_light.js"></script>
<script src="/src/assets/repl/ace/theme-sqlserver.js"></script>
<script src="/src/assets/repl/ace/theme-terminal.js"></script>
<script src="/src/assets/repl/ace/theme-textmate.js"></script>
<script src="/src/assets/repl/ace/theme-tomorrow.js"></script>
<script src="/src/assets/repl/ace/theme-tomorrow_night_blue.js"></script>
<script src="/src/assets/repl/ace/theme-tomorrow_night_bright.js"></script>
<script src="/src/assets/repl/ace/theme-tomorrow_night_eighties.js"></script>
<script src="/src/assets/repl/ace/theme-tomorrow_night.js"></script>
<script src="/src/assets/repl/ace/theme-twilight.js"></script>
<script src="/src/assets/repl/ace/theme-vibrant_ink.js"></script>
<script src="/src/assets/repl/ace/theme-xcode.js"></script>

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/gruvbox");
    editor.session.setMode("ace/mode/wollok");
    editor.setOptions({
        fontSize: "13pt"
    });
</script>
</body>
</html>